mixin ga120-240
    .advBlock
        script(type="text/javascript")
            google_ad_client = "ca-pub-4780158497290031";
            google_ad_slot = "7039863380";
            google_ad_width = 120;
            google_ad_height = 240;

        script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')

mixin ga728-90
   .advBlock
    script(type="text/javascript")
        google_ad_client = "ca-pub-4780158497290031";
        google_ad_slot = "3194112982";
        google_ad_width = 728;
        google_ad_height = 90;
    script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
