extends layout
block content
    div(style='margin-left:auto;margin-right:auto; margin-top: 50px; font-size: 110%;width:86%')
        h1 About KeenTour
        p
            | The motto of this site is:
            h2  A picture paints a thousand words.
            | Why ? Because we believe that travel is not about long texts,hotel prices and discounts.The travel is about feeling the beauty and atmosphere of the place!
        p
            | On our site you can see the real users photos and videos where them  rafting on deafeningly thundering rivers, climbing steep mountains, walking through the ancient cities, having rest in most secluded corners of our planet – this website shares with its visitors some facts that hardly can be found in tour agencies or travel guides.
            | These facts come though public data sources and are created by  travelers like you, which  explore our beatifull world every day.
        p
            | The keentour.com  is the mashup application where we connected data from the following resources and public API's:
            br
            br
            | With the help of our algorithms we dynamicly map more than 8.000.000 travel entities from public
            a(href='http://www.geonames.org')   Geonames database
            br
            | to the newest and coolest content from bellow list of public API providers:
            br
            a(href='http://www.wikipedia.org') http://www.wikipedia.org
            br
            a(href='http://www.flickr.com') http://www.flickr.com
            br
            a(href='http://www.youtube.com') http://www.youtube.com/
        p
            | We hope you will enjoy our work
        div
            a(href='mailto:dimitry323@gmail.com') Contact

        h1
        script(data-main="/#{locals.scriptPrefix}/aboutUs",src="/javascripts/lib/require.js",type="text/javascript")


