<%- include shared/header %>
<body>
<table align="left" cellspacing="0" class="body_table">
     <tr>
   <td rowspan="2" class="body_left">.
   </td>

   <td class="body_center">
<table width="983" border="0" cellspacing="0" cellpadding="0" class="shapka">

  <tr>
    <td class="logo"><a href="/" title="Keentour-Home"><div></div></a></td>
    <td class="shapka1">&nbsp;</td>
    <td class="shapka2">
<div class="search">
<input id="searchtext" type="text"  onFocus="if(this.value=='search...') this.value='';" onBlur="if(!this.value) this.value='search...';" value='search...' />
<input id="searchbtn" type="button" value="" />

</div>

    </td>
  </tr>

</table>

<table border="0" cellspacing="0" cellpadding="0" class="top_menu">
  <tr>
    <td><div class="top_menu1"  rel="EU"><div><a href="/Europe">Europe</a></div></div></td>
    <td><div class="top_menu1" rel="SA"><div><a href="/South-America">South America</a></div></div></td>
    <td><div class="top_menu1"  rel="NA"><div><a href="/North-America">North America</a></div></div></td>
     <td><div class="top_menu1" rel="AS"><div><a href="/Asia">Asia</a></div></div></td>

        <td><div class="top_menu1" rel="OC"><div><a href="/Oceania">Oceania</a></div></div></td>
    <td><div class="top_menu1" rel="AF"><div><a href="/Africa">Africa</a></div></div></td>

  </tr>
</table>

<div style="margin-left:50px;margin-top:50px;font-size:110%">
<h1>About KeenTour</h1>
<p>The motto of this site is: <h2> A picture paints a thousand words.</h2>  Why ? Because we believe that travel is not about long texts,hotel prices and discounts.The travel is about feeling the beauty and atmosphere of the place!</p>
<p>On our site you can see the real users photos and videos where them  rafting on deafeningly thundering rivers, climbing steep mountains, walking through the ancient cities, having rest in most secluded corners of our planet – this website shares with its visitors some facts that hardly can be found in tour agencies or travel guides.
These facts come though public data sources and are created by  travelers like you, which  explore our beatifull world every day.
 </p>

<p> The keentour.com  is the mashup application where we connected data from the following resources and public API's:<br /><br />
With the help of our algorithms we dynamicly map more than 8.000.000 travel entities from public <a href="http://www.geonames.org">Geonames database</a><br />  to the newest and coolest content from bellow list of public API providers:
<br />
<a href="http://www.wikipedia.org">http://www.wikipedia.org</a><br />
<a href="http://www.flickr.com">http://www.flickr.com</a><br />
<a href="http://www.youtube.com">http://www.youtube.com/</a>
</p>
<p>
We hope you will enjoy our work

</p>
<div>
<a href="mailto:dimitry323@gmail.com">Contact</a>
</div>
</div>
    </td>
   <td rowspan="2" class="body_right">.
   </td>
   </tr>


  </table>
<%- include shared/footer %>