<%- include shared/header %>
<body>
<table align="left" cellspacing="0" class="body_table">
     <tr>
   <td rowspan="2" class="body_left">.
   </td>

   <td class="body_center">
<table width="983" border="0" cellspacing="0" cellpadding="0" class="shapka">

  <tr>
    <td class="logo"><a href="/" title="Keentour-Home"><div></div></a></td>
    <td class="shapka1">&nbsp;</td>
    <td class="shapka2">
<div class="search">
<input id="searchtext" type="text"  onFocus="if(this.value=='search...') this.value='';" onBlur="if(!this.value) this.value='search...';" value='search...' />
<input id="searchbtn" type="button" value="" />

</div>

    </td>
  </tr>

</table>

<table border="0" cellspacing="0" cellpadding="0" class="top_menu">
  <tr>
    <td><div class="top_menu1"  rel="EU"><div><a href="content/Europe">Europe</a></div></div></td>
    <td><div class="top_menu1" rel="SA"><div><a href="content/South-America">South America</a></div></div></td>
    <td><div class="top_menu1"  rel="NA"><div><a href="content/North-America">North America</a></div></div></td>
     <td><div class="top_menu1" rel="AS"><div><a href="content/Asia">Asia</a></div></div></td>

        <td><div class="top_menu1" rel="OC"><div><a href="content/Oceania">Oceania</a></div></div></td>
    <td><div class="top_menu1" rel="AF"><div><a href="content/Africa">Africa</a></div></div></td>

  </tr>
</table>

<table cellspacing="0" cellpadding="0" class="content">
  <tr>
    <td class="sidbar">
<div class="menu">
<div class="menu_title">

<h3>Theme</h3>
<img src="/images/folder.png" />
</div>
<ul id="attractionMenu">
<li class="selectedLi"><a>Everything</a></li>
<li><a>Architecture</a></li>
<li><a>Culture</a></li>
<li><a>Art</a></li>
<li><a>Sports</a></li>
<li><a>Music</a></li>

<li><a>Parks</a></li>
<li><a>Nature</a></li>
<li><a>Nightlife</a></li>
<li><a>Museums</a></li>
<li><a>Food</a></li>


</ul>
</div>

<div class="popular_places">
<div class="popular_places_title">

<h3>What's around</h3>
<img src="/images/efelevabashnya.png "/>
</div>

<ul id="children">
</ul>

</div>
<br />
    </td>
    <td class="center">
<div class="tree_link">
       <% for (var i=0;i<breadCrumb.length;i++) { %>
                    <a href="<%= breadCrumb[i].link %>"><%=breadCrumb[i].text%></a>
                     <% if ((i + 1) != breadCrumb.length)
                               { %>
                               /
                            <% } %>

           <% }; %>

</div>

<!--content widget-->
<div class="tabs1">
<div class="tabs1_title">
<img class="tabs1_image" id="widgetIcon" src="/Scripts/widgets/image/photokamera.png "/>
<ul class="tabs1_link">
   <li id="liVideos" class="selekted"><a href="#videos">Videos</a></li>
   <li id="liPhotos" ><a href="#photos">Photos</a></li>
   <li id="liArticles"><a href="#articles">Article</a></li>

</ul>
<div></div>
</div>
 <div id="widgetsDisplay"></div>
</div>
<!--content widget-->
    </td>
  </tr>
</table>

<script data-main="/dist/contentpage" src="/javascripts/lib/require.js" type="text/javascript"></script>


    </td>
   <td rowspan="2" class="body_right">.
   </td>
   </tr>


  </table>
<%- include shared/footer %>













