extends layout

block content
 .row-fluid

     .span2
         .filter.hidden-phone
                 .filterTitle FILTER
                 .artculture.filterOption(data-tag='Art&Culture')
                 .romance.filterOption(data-tag='Romance')
                 .foodwine.filterOption(data-tag='Food&Wine')
                 .nightlife.filterOption(data-tag='Nightlife')
                 .hotel.filterOption(data-tag='Hotel')
                 .events.filterOption(data-tag='Event')
                 .history.filterOption(data-tag='History')
                 .culture.filterOption(data-tag='Culture')
                 .shopping.filterOption(data-tag='Shopping')
                 .skiing.filterOption(data-tag='Skiing')
                 .adventure.filterOption(data-tag='Adventure')
                 .spa.filterOption(data-tag='Spa')




     .span10.text-left
       .resultBlock
           span.resultTitle YOU EXPLORING :
           span.resultTitleName New travel ideas
       #mainCont.pull-left
       .shareStory

 mixin mainInclude('index.js')






