extends layoutnew

block content
    .row-fluid
        .span10.offset2
            .new_photos#newVideos(style="display:none")
                .new_photos_title
                    span.homePageTitle Where do you want to travel ?
                    img(src="/images/kamera.png")

            .latestStories






                        script(data-main="/#{locals.scriptPrefix}/index",src="/javascripts/lib/require.js",type="text/javascript")
                        script
                            var user = !{JSON.stringify(user)};
                            if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                            KEENTOUR.user = user;







