extends layout

block content
 .row-fluid
   .span9
        .new_photos#newVideos(style="display:none")
           .new_photos_title
               span.homePageTitle Where do you want to travel ?
               img(src="/images/kamera.png")

        .homeVideos

   .span3
       .popular_countries
       .popular_countries_title
          img(src='/images/planet.png')
       table.popular_countries_flag
               tbody
                   tr
                       td
                           a(href='content/Europe/France')
                               img.flag(src='/images/france.png')
                           br
                           | France
                       td
                           a(href='content/Europe/Greece')
                               img.flag(src='/images/greece.png')
                           br
                           | Greece
                   tr
                       td
                           a(href='content/Europe/Portugal')
                               img.flag(src='/images/portugal.png')
                           br
                           | Portugal
                       td
                           a(href='content/Europe/Netherlands')
                               img.flag(src='/images/netherlands.png')
                           br
                           | Netherlands
                   tr
                       td
                           a(href='content/Europe/Italy')
                               img.flag(src='/images/flag_italy.jpg')
                           br
                           | Italy
                       td
                           a(href='content/Europe/Sweden')
                               img.flag(src='/images/sweden.png')
                           br
                           | Sweden
                   tr
                       td
                           a(href='content/Europe/Spain')
                               img.flag(src='/images/spain.png')
                           br
                           | Spain
                       td
                           a(href='content/South-America/Chile')
                               img.flag(src='/images/flag_chile.jpg')
                           br
                           | Chile


       .popular_cities
           .popular_cities_title
                img(src='/images/citys.png')
               ul
                   li
                       a(href='content/North-America/United-States/New-York') New York
                   li
                       a(href='content/Europe/United-Kingdom/London') London
                   li
                       a(href='content/Europe/France/Paris') Paris
                   li
                       a(href='content/Europe/Italy/Venice') Venice
                   li
                       a(href='content/South-America/Brazil/Rio-de-Janeiro') Rio de Janeiro
                   li
                       a(href='content/North-America/United-States/Las-Vegas') Las Vegas
                   li
                       a(href='content/Europe/Italy/Florence') Florence
                   li
                       a(href='content/Europe/Italy/Rome') Rome
                   li
                       a(href='content/Australia/Australia/Sydney') Sydney
                   li
                       a(href='content/North-America/United-States/Los-Angeles') Los-Angeles
                   li
                       a(href='content/Asia/Japan/Tokyo') Tokyo
                   li
                       a(href='content/North America/United-States/Mexico/Cancun')  Cancun
                   li
                       a(href='content/Asia/Thailand/Bangkok') Bangkok
                   li
                       a(href='content/North-America/United-States/San-Francisco') San-Francisco
                   li
                       a(href='content/North-America/Canada/Vancouver') Vancouver
                   li
                       a(href='content/Europe/Ireland/Dublin') Dublin



                   script(data-main="/#{locals.scriptPrefix}/homepage",src="/javascripts/lib/require.js",type="text/javascript")








