extends layoutnew

include shared/mixins

block content

        .filter Filter
        .filterItems
            .filterHeader
                a.filterClose.pull-right X
            ul
                li
                    a Art & Culture
                li
                    a Romance
                li
                    a Food & Wine
                li
                    a Nightlife

                li
                    a Hotel
                li
                    a Events
                li
                    a History
                li
                    a Culture

                li
                    a Shopping
                li
                    a Skiing
                li
                    a Adventure
                li
                    a Spa


        .latestStories
        mixin mainInclude('index.js')









