<%- include shared/header %>
<body>
<table align="left" cellspacing="0" class="body_table">
     <tr>
   <td rowspan="2" class="body_left">.
   </td>

   <td class="body_center">
<table width="983" border="0" cellspacing="0" cellpadding="0" class="shapka">

  <tr>
    <td class="logo"><a href="/" title="Keentour-Home"><div></div></a></td>
    <td class="shapka1">&nbsp;</td>
    <td class="shapka2">
<div class="search">
<input id="searchtext" type="text"  onFocus="if(this.value=='search...') this.value='';" onBlur="if(!this.value) this.value='search...';" value='search...' />
<input id="searchbtn" type="button" value="" />

</div>

    </td>
  </tr>

</table>

<table border="0" cellspacing="0" cellpadding="0" class="top_menu">
  <tr>
    <td><div class="top_menu1"  rel="EU"><div><a href="content/Europe">Europe</a></div></div></td>
    <td><div class="top_menu1" rel="SA"><div><a href="content/South-America">South America</a></div></div></td>
    <td><div class="top_menu1"  rel="NA"><div><a href="content/North-America">North America</a></div></div></td>
     <td><div class="top_menu1" rel="AS"><div><a href="content/Asia">Asia</a></div></div></td>

        <td><div class="top_menu1" rel="OC"><div><a href="content/Oceania">Oceania</a></div></div></td>
    <td><div class="top_menu1" rel="AF"><div><a href="content/Africa">Africa</a></div></div></td>

  </tr>
</table>


<table cellspacing="0" cellpadding="0" class="content" >
  <tr>
    <td class="center">
<div class="new_photos" id="popDest">
<div class="new_photos_title">

<img src="/images/photokamera.png"/>
<span class="homePageTitle">Popular destinations of 2012</span>
</div>
<table class="new_photos_photo" id="tblPhotos" style="display:none;">
<tr>
<td><a href="content/South-America/Honduras"><p><img src="/images/Main1.jpg"/></p></a><a href="content/South-America">South America</a> | <a href="content/South-America/Honduras">Honduras</a></td>
<td><a href="content/South-America/Mexico/Playa-del-Carmen"><p><img src="/images/Main3.jpg"/></p></a><a href="content/South-America/Mexico/Playa-del-Carmen">Playa del Carmen</a> | <a href="content/South-America/Mexico">Mexico</a></td>
<td><a href="content/Asia/Thailand"><p><img src="/images/Main2.jpg"/></p></a><a href="content/Asia">Asia</a> | <a href="#">Thailand</a></td>

<td><a href="content/Europe/Austria/Salzburg"><p><img src="/images/austria-salsburg.jpg"/></p></a><a href="content/Europe/Austria">Austria</a> | <a href="content/Europe/Austria/Salsburg">Salzburg</a></td>
</tr>
<tr>
<td><a href="content/Australia/Sydney"><p><img src="/images/Main4.jpg"/></p></a><a href="content/Australia">Australia</a> | <a href="content/Australia/Sydney">Sydney</a></td>
<td><a href="content/Asia/Thailand/Phuket"><p><img src="/images/Main5.jpg"/></p></a><a href="content/Asia/Thailand">Thailand</a> | <a href="content/Asia/Thailand/Phuket">Phuket</a></td>

<td><a href="content/Europe/Greece/Crete"><p><img src="/images/Main6.jpg"/></p></a><a href="content/Europe/Greece">Greece</a> | <a href="content/Europe/Greece/Crete">Crete</a></td>
<td><a href="content/Europe/Hungary/Budapest"><p><img src="/images/hungary-budapest.jpg"/></p></a><a href="content/Europe/Hungary">Hungary</a> | <a href="content/Europe/Hungary/Budapest">Budapest</a></td>
</tr></table>
</div>

<div class="new_photos" id="newVideos">
<div class="new_photos_title">
<span class="homePageTitle">New Travel Videos</span>

<img src="/images/kamera.png"/>
</div>
<table class="new_photos_photo" id="tblVideos" style="display:none">
</table>
</div>
    </td>
    <td class="sidbar">
<div class="popular_countries">
<div class="popular_countries_title">
<h3>Popular Countries</h3>
<img src="/images/planet.png"/>
</div>
<table class="popular_countries_flag"><tr>
<td><a href="content/Europe/France"><img src="/images/france.png"  class="flag" /></a><br />France</td>

<td><a href="content/Europe/Greece"><img src="/images/greece.png"  class="flag"/></a><br />Greece</td>
</tr><tr>
<td><a href="content/Europe/Portugal"><img src="/images/portugal.png"  class="flag" /></a><br />Portugal</td>
<td><a href="content/Europe/Netherlands"><img src="/images/netherlands.png"  class="flag" /></a><br />Netherlands</td>
</tr><tr>
<td><a href="content/Europe/Italy"><img src="/images/flag_italy.jpg"  class="flag"/></a><br />Italy</td>
<td><a href="content/Europe/Sweden"><img src="/images/sweden.png"  class="flag"/></a><br />Sweden</td>
</tr><tr>
<td><a href="content/Europe/Spain"><img src="/images/spain.png" class="flag" /></a><br />Spain</td>
<td><a href="content/South-America/Chile"><img src="/images/flag_chile.jpg"  class="flag" /></a><br />Chile</td>

</tr></table>
</div>

<div class="popular_cities">
<div class="popular_cities_title">
<h3>Popular Cities</h3>
<img src="/images/citys.png"/>
</div>
<ul>
<li><a href="content/North-America/United-States/New-York">&#8226;&nbsp;&nbsp;&nbsp;New York</a></li>
<li><a href="content/Europe/United-Kingdom/London">&#8226;&nbsp;&nbsp;&nbsp;London</a></li>
<li><a href="content/Europe/France/Paris">&#8226;&nbsp;&nbsp;&nbsp;Paris</a></li>
<li><a href="content/Europe/Italy/Venice">&#8226;&nbsp;&nbsp;&nbsp;Venice</a></li>

<li><a href="content/South-America/Brazil/Rio-De Janeiro">&#8226;&nbsp;&nbsp;&nbsp;Rio De Janeiro</a></li>
<li><a href="content/North-America/United-States/Las-Vegas">&#8226;&nbsp;&nbsp;&nbsp;Las Vegas</a></li>
<li><a href="content/Europe/Italy/Florence">&#8226;&nbsp;&nbsp;&nbsp;Florence</a></li>
<li><a href="content/Europe/Italy/Rome">&#8226;&nbsp;&nbsp;&nbsp;Rome</a></li>
<li><a href="content/Australia/Australia/Sydney">&#8226;&nbsp;&nbsp;&nbsp;Sydney</a></li>
<li><a href="content/North-America/United-States/Los-Angeles">&#8226;&nbsp;&nbsp;&nbsp;Los-Angeles</a></li>
<li><a href="content/Asia/Japan/Tokyo">&#8226;&nbsp;&nbsp;&nbsp;Tokyo</a></li>
<li><a href="content/North America/United-States/Mexico/Cancun">&#8226;&nbsp;&nbsp;&nbsp;Cancun</a></li>
<li><a href="content/Asia/Thailand/Bangkok">&#8226;&nbsp;&nbsp;&nbsp;Bangkok</a></li>

<li><a href="content/North-America/United-States/San-Francisco">&#8226;&nbsp;&nbsp;&nbsp;San-Francisco</a></li>
<li><a href="content/North-America/Canada/Vancouver">&#8226;&nbsp;&nbsp;&nbsp;Vancouver</a></li>
<li><a href="content/Europe/Ireland/Dublin">&#8226;&nbsp;&nbsp;&nbsp;Dublin</a></li>

</ul>
</div>
    </td>
  </tr>
</table>

<script data-main="/dist/homepage" src="/javascripts/lib/require.js" type="text/javascript"></script>





    </td>
   <td rowspan="2" class="body_right">.
   </td>
   </tr>


  </table>
<%- include shared/footer %>
















