extends layout

block content
 .row-fluid

     .span3
         .filter
             .filterItems
                 .filterHeader
                    .filterTest
                        image(src='/images/filter.png')


     .span9.text-center
       .resultBlock
           span.resultTitle YOU EXPLORING :
           span.resultTitleName New travel ideas
       #mainCont.pull-left

 mixin mainInclude('index.js')






