extends layoutnew

include shared/mixins

block content

        .filter Filter
        .filterItems
            .filterHeader
                a.filterClose.pull-right X
            ul.interests



        .latestStories
        mixin mainInclude('index.js')










