extends layout

block content
    .new_photos(id="popDest")
    .new_photos_title
     img(src="/images/photokamera.png")
     span.homePageTitle Popular destinations of 2012

    div.new_photos#newVideos
    .new_photos_title
        span.homePageTitle
        img(src="/images/kamera.png")

    table(class="new_photos_photo", id="tblVideos", style="display:none")
    script(data-main="/dist/homepage",src="/javascripts/lib/require.js",type="text/javascript)
    .popular_countries
        .popular_countries_title
            h3 Popular Countries
            img(src="/images/planet.png")

    .popular_countries_flag
        a(href="content/Europe/France")
            img(src="/images/france.png",class="flag")
        br/ France
//a(href="content/Europe/Greece")
//    img(src="/images/greece.png",class="flag")
//        br Greece
//
//a(href="content/Europe/Portugal")
//    img(src="/images/portugal.png",class="flag")
//    br Portugal
//
//a(href="content/Europe/Netherlands")
//    img(src="/images/netherlands.png",class="flag")
//    br Netherlands
//
//a(href="content/Europe/Italy")
//    img(src="/images/flag_italy.jpg",class="flag")
//        br Italy
//
//a(href="content/Europe/Sweden")
//    img(src="/images/sweden.png",class="flag")
//        br Sweden
//
//a(href="content/Europe/Spain")
//    img(src="/images/spain.png",class="flag")
//        br Spain
//a(href="content/South-America/Chile")
//    img(src="/images/flag_chile.jpg",class="flag")
//    br Chile
//
//.popular_cities
//.popular_cities_title
//h3 Popular Ciities
//img(src="/images/citys.png")
//ul
//li
//    a(href="content/North-America/United-States/New-York")&#8226;&nbsp;&nbsp;&nbsp;New York
//li
//    a(href="content/Europe/United-Kingdom/London")&#8226;&nbsp;&nbsp;&nbsp;London
//li
//    a(href="content/Europe/France/Paris")&#8226;&nbsp;&nbsp;&nbsp;Paris
//li
//    a(href="content/Europe/Italy/Venice")&#8226;&nbsp;&nbsp;&nbsp;Venice
//li
//    a(href="content/South-America/Brazil/Rio-De Janeiro")&#8226;&nbsp;&nbsp;&nbsp;Rio De Janeiro
//li
//    a(href="content/North-America/United-States/Las-Vegas")&#8226;&nbsp;&nbsp;&nbsp;Las Vegas
//li
//    a(href="content/Europe/Italy/Florence")&#8226;&nbsp;&nbsp;&nbsp;Florence
//li
//    a(href="content/Europe/Italy/Rome")&#8226;&nbsp;&nbsp;&nbsp;Rome
//li
//    a(href="content/Australia/Australia/Sydney")&#8226;&nbsp;&nbsp;&nbsp;Sydney
//li
//    a(href="content/North-America/United-States/Los-Angeles")&#8226;&nbsp;&nbsp;&nbsp;Los-Angeles
//li
//    a(href="content/Asia/Japan/Tokyo")&#8226;&nbsp;&nbsp;&nbsp;Tokyo
//li
//    a(href="content/North America/United-States/Mexico/Cancun")&#8226;&nbsp;&nbsp;&nbsp;Cancun
//li
//    a(href="content/Asia/Thailand/Bangkok")&#8226;&nbsp;&nbsp;&nbsp;Bangkok
//
//li
//    a(href="content/North-America/United-States/San-Francisco")&#8226;&nbsp;&nbsp;&nbsp;San-Francisco
//li
//    a(href="content/North-America/Canada/Vancouver")&#8226;&nbsp;&nbsp;&nbsp;Vancouver
//li
//    a(href="content/Europe/Ireland/Dublin")&#8226;&nbsp;&nbsp;&nbsp;Dublin






