include shared/mixins

doctype 5
html(lang='en')
   head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/Site.css')
    link(rel='stylesheet', href='/stylesheets/colorbox.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.css')
    link(rel='icon',type='image/png',href='/images/favicon.ico')
    script(type='text/javascript',src='/javascripts/console.js')

   body


           .container-fluid.header
                   .row-fluid
                    .span4
                       div.logoCont.pull-left
                        a(href='/', title='Keentour-Home')
                           img(src='/images/logo.png')
                    .span8


                        #search
                            input#searchtext(type='text', onfocus='if(this.value==\'Start explore...\') this.value=\'\';', onblur='if(!this.value) this.value=\'Start explore...\';', value='Start explore...')
                            //i.icon-chevron-down.advancedOpen
                            input#searchbtn(type='button', value='')

           .container-fluid.menuCont
               .menu
                   table.top_menu
                       tr
                           td
                               .top_menu1(rel='EU')
                                  div
                                    a(href='/content/Europe') Europe
                           td
                               .top_menu1(rel='SA')
                                   div
                                        a(href='/content/South-America') South America
                           td
                               .top_menu1(rel='NA')
                                   div
                                       a(href='/content/North-America') North America
                           td
                               .top_menu1(rel='AS')
                                   div
                                       a(href='/content/Asia') Asia
                           td
                               .top_menu1(rel='OC')
                                   div
                                       a(href='/content/Oceania') Oceania
                           td
                               .top_menu1right(rel='AF',style='border-right:none !important;')
                                   div(style='border-right:none !important;')
                                       a(href='/content/Africa') Africa

           .container-fuild

               block content


           div.footerPanel#panelMain
                .raw-fluid
                    .span5
                        div.panelInternal
                            div.addthis_toolbox.addthis_default_style.addthis_32x32_style
                                a(class="addthis_button_preferred_1")
                                a(class="addthis_button_preferred_2")
                                a(class="addthis_button_preferred_3")
                                a(class="addthis_button_compact")
                                a(class="addthis_counter addthis_bubble_style")
                                span.companyInfo
                                    a(href="/AboutUs") About US
                                span.companyInfo
                                    a(href="/Privacy") Privacy
                    .span7
                        .advBlock
                            script(type='text/javascript')
                                google_ad_client = "ca-pub-4780158497290031";
                                google_ad_slot = "3076361783";
                                google_ad_width = 728;
                                google_ad_height = 15;
                            script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')

               script(type='text/javascript')
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-10410520-2']);
                _gaq.push(['_trackPageview']);
                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();




