doctype 5
html
  head
      head
          title= title
          link(rel='stylesheet', href='/stylesheets/style.css')
          link(rel='stylesheet', href='/stylesheets/colorbox.css')
          link(rel='icon',type='image/png',href='/images/favicon.ico')
  body
    block content
    div.footerPanel#panelMain
        div.panelInternal
            div.addthis_toolbox.addthis_default_style.addthis_32x32_style
                a(class="addthis_button_preferred_1")
                a(class="addthis_button_preferred_2")
                a(class="addthis_button_preferred_3")
                a(class="addthis_button_compact")
                a(class="addthis_counter addthis_bubble_style")
                span.companyInfo
                    a(href="/AboutUs") About US
                span.companyInfo
                    a(href="/Privacy") Privacy