include shared/mixins

doctype 5
html(lang='en')
   head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/pace.css')
    link(rel='stylesheet', href='/stylesheets/Site.css')
    link(rel='stylesheet', href='/stylesheets/colorbox.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')

    link(rel='icon',type='image/png',href='/images/favicon.ico')


   body

       script(src='/javascripts/lib/pace.min.js')
       script
           Pace.on('hide',function(){
               $('#siteContainer').fadeIn('slow').children().fadeIn('slow');
           });


       .mainContainer#siteContainer
           .container-fluid.header
                       .row-fluid
                        .span2
                           div.logoCont.hidden-phone
                            a(href='/', title='Keentour-Home')
                               img(src='/images/logo_new.png')
                        .span10
                            .headerNav
                                ul.nav.nav-pills.headerMenu
                                    li.textSearchLi
                                        input#searchtext(type='text',placeholder='SEARCH KEENTOUR')

                                    li.active.storyLi.hidden-phone
                                        a.createStory(href='/story') Create Story
                                    if isAuthenticated
                                        li.dropdown.userStatusLi.hidden-phone
                                            a#drop4.dropdown-toggle(role='button', data-toggle='dropdown', href='#')
                                                |  #{user.username}
                                                b.caret
                                            ul#menu1.dropdown-menu(role='menu', aria-labelledby='drop4')
                                                li(role='presentation')
                                                    a(role='menuitem', tabindex='-1', href='#')

                                                li(role='presentation')
                                                    a(role='menuitem', tabindex='-1', href='#{user.storiesUrl}') My Stories
                                                li.divider(role='presentation')
                                                li(role='presentation')
                                                    a(role='menuitem', tabindex='-1', href='/logout') Logout
                                    else
                                        li.active.userStatusLi.hidden-phone
                                            a#loginBtn(href='/login') Login




               .container-fuild

                   block content


               div.footerPanel#panelMain
                    span.companyInfo
                        a(href="/AboutUs") About US
                    span.companyInfo
                       a(href="/Privacy") Privacy

                    span.copyr Copyright © 2013, Keentour.com






               .modal.hide.fade
                   .modal-dialog
                       .modal-content
                           .modal-header
                               button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                               h4.modal-title Login to Keentour
                               .modal-body
                                   a.facebookAuth(href='/auth/facebook')
                                        span Login with Facebook




