include shared/mixins

doctype 5
html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='stylesheet', href='/stylesheets/SiteNew.css')
        link(rel='stylesheet', href='/stylesheets/colorbox.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.css')
        link(rel='icon',type='image/png',href='/images/favicon.ico')


    body

        .modal.hide.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title Login to Keentour
                        .modal-body
                            p
                                a(href="/auth/facebook") Login with Facebook
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close








        .shareStory

        .container-fluid.header
            .row-fluid
                .span4
                    div.logoCont.pull-left
                        a(href='/', title='Keentour-Home')
                            img(src='/images/logo.png')
                .span8
                    ul.nav.nav-pills
                        li.active
                            a(href='/story') Create
                        if isAuthenticated
                            li.dropdown
                                a#drop4.dropdown-toggle(role='button', data-toggle='dropdown', href='#')
                                    | #{user.username}
                                    b.caret
                                ul#menu1.dropdown-menu(role='menu', aria-labelledby='drop4')
                                    li(role='presentation')
                                        a(role='menuitem', tabindex='-1', href='#')

                                    li(role='presentation')
                                        a(role='menuitem', tabindex='-1', href='#{user.storiesUrl}') My Stories
                                    li.divider(role='presentation')
                                    li(role='presentation')
                                        a(role='menuitem', tabindex='-1', href='/logout') Logout
                        else
                            li.active
                                a#loginBtn(href='/login') Login

                        li.dropdown
                            a#drop4.dropdown-toggle(role='button', data-toggle='dropdown', href='#')
                                | About
                                b.caret
                                ul#menu1.dropdown-menu(role='menu')
                                    li(role='presentation')
                                        a(role='menuitem', tabindex='-1', href='#')


                                    li(role='presentation')
                                      a(role='menuitem', tabindex='-1', href='/Privacy') Privacy
                                    li.divider(role='presentation')
                                    li(role='presentation')
                                        a(role='menuitem', tabindex='-1', href='/AboutUs') About Us







       .container-fuild
       block content













