<%- include shared/header %>
<body>
<table align="left" cellspacing="0" class="body_table">
     <tr>
   <td rowspan="2" class="body_left">.
   </td>

   <td class="body_center">
<table width="983" border="0" cellspacing="0" cellpadding="0" class="shapka">

  <tr>
    <td class="logo"><a href="/" title="Keentour-Home"><div></div></a></td>
    <td class="shapka1">&nbsp;</td>
    <td class="shapka2">
<div class="search">
<input id="searchtext" type="text"  onFocus="if(this.value=='search...') this.value='';" onBlur="if(!this.value) this.value='search...';" value='search...' />
<input id="searchbtn" type="button" value="" />

</div>

    </td>
  </tr>

</table>

<table border="0" cellspacing="0" cellpadding="0" class="top_menu">
  <tr>
    <td><div class="top_menu1"  rel="EU"><div><a href="/Europe">Europe</a></div></div></td>
    <td><div class="top_menu1" rel="SA"><div><a href="/South-America">South America</a></div></div></td>
    <td><div class="top_menu1"  rel="NA"><div><a href="/North-America">North America</a></div></div></td>
     <td><div class="top_menu1" rel="AS"><div><a href="/Asia">Asia</a></div></div></td>

        <td><div class="top_menu1" rel="OC"><div><a href="/Oceania">Oceania</a></div></div></td>
    <td><div class="top_menu1" rel="AF"><div><a href="/Africa">Africa</a></div></div></td>

  </tr>
</table>


<h2>Privacy Policy</h2>
<p>At KeenTour, the privacy of our visitors is of great importance to us. This privacy policy document outlines the types of personal information received and collected by KeenTour and how it is used.</p>
<h2>Disclaimer</h2>
<p>

Although we make efforts to comply with this Privacy Policy, we do not guarantee, warrant, represent, or promise such compliance.</p>
<p>
Any third-party websites linked from www.keentour.com are governed by the privacy policies of the third parties that own and operate those websites. We have no control over third-party websites and assume no responsibility for their collection, use, disclosure, or protection of personal information.
Also we dynamicly searching public webservices described in <a href="/AboutUs" >About US section</a> for information using our algorithms and actually some results  can be irrelevant for travel destination.
</p>
<p>
This Privacy Policy is subject to change at any time without prior notice to you. Please check back from time to time to review the latest version. Your continued use of www.keentour.com will indicate your acceptance of the new terms and conditions.
</p>

<!--<p>
FunTouristAttractions uses cookies to store information about visitor preferences, record user-specific information on which pages the user accesses, and customizes Web page content based on the visitor's browser type or other information that the visitor sends via their browser.
Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include Google Adsense.
</p>-->
<p>





    </td>
   <td rowspan="2" class="body_right">.
   </td>
   </tr>


  </table>
<%- include shared/footer %>