extends  layout
block content

    h2 Privacy Policy
    p
        | At KeenTour, the privacy of our visitors is of great importance to us. This privacy policy document outlines the types of personal information received and collected by KeenTour and how it is used.
        h2 Disclaimer
        p
            | Although we make efforts to comply with this Privacy Policy, we do not guarantee, warrant, represent, or promise such compliance.
        p
            | Any third-party websites linked from www.keentour.com are governed by the privacy policies of the third parties that own and operate those websites. We have no control over third-party websites and assume no responsibility for their collection, use, disclosure, or protection of personal information.
            | Also we dynamicly searching public webservices described in
            a(href='/AboutUs') About US section
            | for information using our algorithms and actually some results  can be irrelevant for travel destination.
        p
            | This Privacy Policy is subject to change at any time without prior notice to you. Please check back from time to time to review the latest version. Your continued use of www.keentour.com will indicate your acceptance of the new terms and conditions.



