extends  layout
block content

    .tabs
        span.widgetTitle.selected(rel="videos")
        a(rel="videos")
            img(src="/images/kamera.png")
        a.tabTitle(rel="videos")
        span.widgetTitle(rel="photos")
            a(rel="photos")
                img(src="/images/photokamera.png")
            a.tabTitle(rel="photos")

        span.widgetTitle.selected(rel="videos")
            a(rel="videos")
                img(src="/images/kamera.png")
            a.tabTitle(rel="videos")


    .search
        input.searchtext(type='text')

    #widgetDisplay

    #storyContent


    script(data-main="/#{locals.scriptPrefix}/stories/story",src="/javascripts/lib/require.js",type="text/javascript")


