include shared/mixins

doctype 5
html(lang='en')
    head
        title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='stylesheet', href='/stylesheets/Site.css')
        link(rel='stylesheet', href='/stylesheets/colorbox.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.css')
        link(rel='icon',type='image/png',href='/images/favicon.ico')
        script(type='text/javascript',src='/javascripts/console.js')
    body
        .container-fluid.header
            .row-fluid
                .span4
                    div.logoCont.pull-left
                        a(href='/', title='Keentour-Home')
                            img(src='/images/logo.png')


        .raw-fluid.contentSearch
            .span4
                input(type='text',id='searchText',style='width:95%',value="Thialand travel")

                #photoPaging
                .photos


        .span8
            ul#storyTabs.nav.nav-tabs
                li.active
                    a.tab(href='#story',data-toggle="tab") Story
                li
                    a.tab(href='#settings',data-toggle="tab") Settings


            .tab-content
                .story#story.tab-pane.active
                        div(style='text-align:left')
                            input(type='text',id='txtTitle',placeholder='Enter title',style='width:95%'")
                            .storyText
                            textarea#wysihtml5-editor(spellcheck='false', wrap='off', autofocus='autofocus', placeholder='Enter description ...')

                        .storyItemsCont
                            ul.storyItems
                #settings.tab-pane
                    h4 Geo Location
                    input(type="text",id="geoLocation",placeholder="Where it happens ?")
                    .geoPath

                    .inrerestsCont
                        h4 Point of interest
                        ul.interests
                            li
                                .interest
                                    input(type="checkbox",value="Family",name="Family")
                                    label.checkbox.inline Family
                            li
                                .interest
                                    input(type="checkbox",value="Nature",name="Nature")
                                    label.checkbox.inline Nature
                                .interest
                                    input(type="checkbox",value="Nightlife",name="Nightlife")
                                    label.checkbox.inline Nightlife
                                .interest
                                    input(type="checkbox",value="Adventure",name="Adventure")
                                    label.checkbox.inline Adventure
                                .interest
                                    input(type="checkbox",value="History",name="History")
                                    label.checkbox.inline History
                                .interest
                                    input(type="checkbox",value="Culture",name="Culture")
                                    label.checkbox.inline Culture


<<<<<<< HEAD
                        h4 Web Site Url
                        input(type='text',id='txtWebSiteUrl',placeholder='Web Site Url',style='width:95%'")





=======
>>>>>>> c1d4acd8f6f7c439832b0d581374997944ec78da

                        h4 Web Site
                        input#webSiteUrl

        .actionPanel

       script
            var story = !{JSON.stringify(story)};
            if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
            KEENTOUR.currentStory= story;
       script(data-main="/#{locals.scriptPrefix}/story",src="/javascripts/lib/require.js",type="text/javascript")


