extends layout
include shared/mixins

block content

    .raw-fluid.contentSearch
        .span4
                input(type='text',id='searchText',style='width:95%',value="Jerusalem")

                #photoPaging
                .photos


        .span8
            ul#storyTabs.nav.nav-tabs
                li.active
                    a.tab(href='#story',data-toggle="tab")
                        img(src="/images/story_btn.png")
                li
                    a.tab(href='#settings',data-toggle="tab")
                        img(src="/images/settings_btn.png")
                li
                    .actionPanel


            .tab-content
                .story#story.tab-pane.active
                    .storyText
                    div(style='text-align:left')
                        input(type='text',id='txtTitle',placeholder='Enter title')
                    .storyDescription
                        #description(contenteditable="true",placeholder='Enter description ...')



                    .storyItemsCont
                            ul.storyItems
                #settings.tab-pane
                    h4 Geo Location
                    input(type="text",id="geoLocation",placeholder="Where it happens ?")
                    .geoPath

                    .inrerestsCont
                        h4 Point of interest
                        ul.interests
                        h4 Web Site
                        input#webSiteUrl(type='text',placeholder='web site url')






       script
            var story = !{JSON.stringify(story)};
            if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
            KEENTOUR.currentStory= story;

       mixin mainInclude('story.js')


