extends layoutnew

block content
    .row-fluid
       .span2
        .description
        .authorLink
        .ads

       .span8
          .story
            .title
            .storyTags
            ul.storyItems



    script
        var story = !{JSON.stringify(story)};
        if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
        KEENTOUR.story = story;
        console.log(KEENTOUR.story);
    script(data-main="/#{locals.scriptPrefix}/storyView",src="/javascripts/lib/require.js",type="text/javascript")


