extends layoutnew

include shared/mixins

block content

            .authorLink
            .story

              .storyHeader
              span.title
                .storyTags
                span.titleTags
                span.tagItems
                span.webSiteUrl.pull-right

              .description

              ul.storyItems



            script
                var story = !{JSON.stringify(story)};
                if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                KEENTOUR.story = story;
                console.log(KEENTOUR.story);

            mixin mainInclude('storyView.js')



