extends layout

include shared/mixins

block content

            .row-fluid
                .span2
                    .webSiteUrl
                    .storyTags
                        .titleTags.resultTitle
                        .tagItems
                    .geoData
                        .geoLocation.resultTitle
                        .geoPath


                .span10
                    .story
                        .storyHeader
                              .storyTitleName
                                a.storyTitle
                             .description
                        ul.storyItems
            .shareStory



            script
                var story = !{JSON.stringify(story)};
                if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                KEENTOUR.story = story;
                console.log(KEENTOUR.story);

            mixin mainInclude('storyView.js')



