extends layout

include shared/mixins

block content

            .row-fluid
                .span2
                    .storyTags
                        .titleTags
                        .tagItems
                    .webSiteUrl.pull-right
                .span10
                    .story
                        .storyHeader
                              span.title.resultTitleName
                             .description
                        ul.storyItems
            .shareStory



            script
                var story = !{JSON.stringify(story)};
                if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                KEENTOUR.story = story;
                console.log(KEENTOUR.story);

            mixin mainInclude('storyView.js')



