extends layout

include shared/mixins

block content

            .authorLink
            .story

             .storyHeader
                  .title.resultTitleName
                  .storyTags
                  .titleTags
                  .webSiteUrl

                  .description

              ul.storyItems
              .shareStory



            script
                var story = !{JSON.stringify(story)};
                if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                KEENTOUR.story = story;
                console.log(KEENTOUR.story);

            mixin mainInclude('storyView.js')



