extends layout

block content
    .row-fluid
       .span2
           h4 Tags
           ul.storyTags
       .span8
          .story
            .title
            .description
            ul.storyItems



    script
        var story = !{JSON.stringify(story)};
        if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
        KEENTOUR.story = story;
        console.log(KEENTOUR.story);
    script(data-main="/#{locals.scriptPrefix}/storyView",src="/javascripts/lib/require.js",type="text/javascript")


