extends layoutnew
include shared/mixins

block content
    .actionPanel
    .raw-fluid.contentSearch
            .span4
                input(type='text',id='searchText',style='width:95%',value="Jerusalem")

                #photoPaging
                .photos


        .span8
            ul#storyTabs.nav.nav-tabs
                li.active
                    a.tab(href='#story',data-toggle="tab") Story
                li
                    a.tab(href='#settings',data-toggle="tab") Settings



            .tab-content
                .story#story.tab-pane.active
                    .storyText
                    div(style='text-align:left')
                        input(type='text',id='txtTitle',placeholder='Enter title',style='width:95%')
                    .storyDescription
                        textarea#description(spellcheck='false', wrap='off', autofocus='autofocus', placeholder='Enter description ...')

                    .storyItemsCont
                            ul.storyItems
                #settings.tab-pane
                    h4 Geo Location
                    input(type="text",id="geoLocation",placeholder="Where it happens ?")
                    .geoPath

                    .inrerestsCont
                        h4 Point of interest
                        ul.interests
                        h4 Web Site
                        input#webSiteUrl

                .textDialog.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h3#myModalLabel Modal header
                    .modal-body
                            p
                                .editorText
                                    textarea#itemTextEditor(spellcheck='false', wrap='off', autofocus='autofocus', placeholder='Enter description ...')
                    .modal-footer
                            button.btn(data-dismiss='modal', aria-hidden='true') Close
                            button.btn.btn-primary Save changes




       script
            var story = !{JSON.stringify(story)};
            if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
            KEENTOUR.currentStory= story;

       mixin mainInclude('story.js')


