extends layout

block content
   .title  #{story.title}
   .description  #{story.description}

    script
        var story = !{JSON.stringify(story)};
        if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
        KEENTOUR.story = story;


