extends layoutnew

block content
    .row-fluid

        .span2

            ads
                script(async='async', src='http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                ins.adsbygoogle(style='display: inline-block; width: 300px; height: 600px;', data-ad-client='ca-pub-4780158497290031', data-ad-slot='1729511784')
                script
                    (adsbygoogle = window.adsbygoogle || []).push({});


        .span8
            .userTitle
                h2 Stories by : #{username}

            .new_photos#newVideos(style="display:none")
                .new_photos_title
                    span.homePageTitle Where do you want to travel ?
                    img(src="/images/kamera.png")

            .latestStories

                script(src='/javascripts/lib/require.js')
                script
                    //Load common code that includes config, then load the app
                    //logic for this page. Do the require calls here instead of
                    //a separate file so after a build there are only 2 HTTP
                    //requests instead of three.
                    require(['/javascripts/global.js'], function () {
                        require(['userStories']);
                    });
                script
                    if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                    KEENTOUR.username = '!{username}';
