extends layout

include  shared/mixins

block content
    .row-fluid

        .span2




        .span8
            .userTitle
                span.resultTitle Stories by :
                span.resultTitleName #{username}

            .new_photos#newVideos(style="display:none")
                .new_photos_title
                    span.homePageTitle Where do you want to travel ?
                    img(src="/images/kamera.png")

            .latestStories
            .shareStory
                mixin mainInclude('userStories.js')
                script

                    KEENTOUR.username = '#{username}';
                    KEENTOUR.editMode = #{editMode};
                    console.log('User name is:'+ KEENTOUR.username);