extends layoutnew

block content
    .row-fluid

        .span2
            .userTitle
                span Stories by :
                b dmitry.mogilko
            ads
                script(async='async', src='http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                ins.adsbygoogle(style='display: inline-block; width: 300px; height: 600px;', data-ad-client='ca-pub-4780158497290031', data-ad-slot='1729511784')
                script
                    (adsbygoogle = window.adsbygoogle || []).push({});


        .span10.offset2
            .new_photos#newVideos(style="display:none")
                .new_photos_title
                    span.homePageTitle Where do you want to travel ?
                    img(src="/images/kamera.png")

            .latestStories






                script(data-main="/#{locals.scriptPrefix}/userStories",src="/javascripts/lib/require.js",type="text/javascript")
                script
                    var user = !{JSON.stringify(user)};
                            if(typeof(KEENTOUR)==="undefined"){KEENTOUR={};}
                    KEENTOUR.userName = '!{userName}';
