.latestStories{
    text-align: center;
    margin-bottom:10%;
}

.storyHeader{
    margin:5px;
}

.storyContainer
{
    margin: 1%;
}

.storyCont{
    height: 250px;
    padding: 10px;
}

.storyCont .storyTitle{
   font-size: 90%;
   margin: 5px 0px;
}

.storyCont .tags{
    margin: 5px 0px;
    text-align: center;
}

.storyCont .tagsTitle{
    font-size: 120%;

}
.storyCont .tagsText{
   font-size:75%;
}

.editStory{
    margin: 0.5%;
}

.deleteStory{
    margin: 0.5%;
}

.publishDate{

}

