

.story
 {
     text-align: center;
 }

.storyPhotos
{
    width:95%;
    min-height: 500px;
    border: 1px solid #CCCCCC;
    margin-bottom: 5%;
    text-align: center;
}
.storyItem{

    padding: 2.5%;
    text-align: center;
    margin-top: 5%;
    width:85%;
    border-bottom: 1px dashed blue;


}

.storyItemText
{
    border: 1px solid #CCCCCC;
    margin: 10%;
    min-height: 30px;
    min-width: 80%;
}

.storyEdit {
     margin: 1%;
}

.storyItemEdit{
    margin: 5px;
}

.storyItemDelete{
     margin:5px;
}



.addItem{

}

.storyItemContainer
{

    margin:3%;
    padding-top:3%;
}

.storyItemDelete{
    position: relative;
    top:1%;
    right: 1%;
}

.storyItemLi
{
    border: 1px solid #000000;
}

.geoItemPath{
    margin: 0 1% 0 1%;
}

.storyItemsCont{

    min-height: 300px;
    min-height: 300px;
    padding: 5%;
}


.itemContainer{
    text-align: center;
}


.contentSearch{
     margin: 0px 0px 0px 63px;
}

textarea {
    width: 100%;
    background: transparent;
    height: 100%;
    white-space: pre;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    word-wrap: normal;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contentSearch input[type=text] {
    width: 100%;
    background: transparent;
    height: 100%;
    white-space: pre;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    word-wrap: normal;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.actionPanel
{
    margin: 5% 5%;

}

.actionPanel button{
    width:100px;
    height: 25px;
    color:#FFF;
    border-radius: 10px;

}

.btn-save{
    background-color: #3876B2;
    
}

.btn-publish{
    background-color:#008F00;
}