.story
 {
     text-align: center;
 }

.storyPhotos
{
    width:95%;
    min-height: 500px;
    border: 1px solid #CCCCCC;
    margin-bottom: 5%;
    text-align: center;
}
.storyItem{

    padding: 2.5%;
    text-align: center;
    margin-top: 5%;
    width:85%;
    border-bottom: 1px dashed blue;


}

.storyItemText
{
    border: 1px solid #CCCCCC;
    margin: 10%;
    min-height: 30px;
    min-width: 80%;
}

.storyDescription
{
    border: 1px solid #EEEEEE;
    width: 90%;
}

.storyEdit {
     margin: 1%;
}

.storyItemEdit{
    margin: 5px;
}

.storyItemDelete{
     margin:5px;
}

.actionPanel
{
    position: fixed;
    bottom: 0;
    right: 40%;

}

.addItem{
    background-color:#0000ff;
    color: #D3E7F0;
}

.storyItemContainer
{

    margin:3%;
    padding-top:3%;
}

.storyItemDelete{
    position: relative;
    top:1%;
    right: 1%;
}

.storyItemLi
{
    border: 1px solid #000000;
}

.geoItemPath{
    margin: 0 1% 0 1%;
}

.storyItemsCont{
    border: 1px solid black;
    min-height: 300px;
    min-height: 300px;
    padding: 5%;
}

