.story
{
    text-align: left;
    margin : 0px 0px 10% 10%;
    height : 80vh;
}

.description{
    text-align: left;
    margin: 2.5% 0 0% 0;
    width : 70% !important;
    font-size: 90%;
    /*display : none;;*/
}

.storyTitle{
    margin : 10px 0px 10px 0px;
    color:#95ADC7;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;

}

.titleTags {
    margin: 15px 0 5px 45px;
}

.storyItemContainer{
    margin: 10px 0px 0px 0px;
    border-bottom: 1px solid #ccc;
    width:60%;
}

.storyTags{
    text-align: center;

}

.storyItems{
     margin:2% 0 2% 0;
}

.webSiteUrl{
    margin: 0 0 2% 38%;
}

.tag{
    font-size: 90%;
    color: #3876B2;
    font-weight: bold;
    margin: 15px 0 5px 45px;
}


.geoData{
    margin: 15px 0 5px 45px;
    text-align: center;
}



.geoPath{
    margin:15px 0px;
    font-size:90%;
}

.geoItemPath{
    color: #3876B2;
    font-weight: bold;
}

.descriptionToggle{
    font-size: 80%;
    font-weight: bold;
    margin: 10px 0px;
    color: #3876B2;

}

.storyUserText{
    color: #3876B2;
    margin: 5px 0px;

}

.storyItemDescription{
    font-size: 80%;
    max-width: 60%;
    margin: 10px 0px
}

.storyItemLi{
    margin-bottom: 20px;
}

.storyItemTitle{
    font-weight: bold;
    margin: 5px 0px;
    font-size: 70%;
}









