.story
{
    text-align: left;
    margin : 0px 0px 0px 10%;
}

.description{
    text-align: left;
    margin:2% 0 2% 0;
    width : 70% !important;
}

.title{
    margin : 10px 0px 0px 0px;
}

.storyItemContainer{
    margin: 10px 0px 0px 0px;
}

.storyTags{
    text-align: center;
}

.storyItems{
     margin:2% 0 2% 0;
}

